<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ClubUI/club_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,274},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,63}</string>
			</dict>
			<key>ClubUI/club_bottom_instruction.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,295},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_bottom_mem.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,415},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_bottom_mgr.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,442},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_bottom_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,172},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_bottom_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,336},{107,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,42}</string>
			</dict>
			<key>ClubUI/club_back_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,336},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,63}</string>
			</dict>
			<key>ClubUI/club_bottom_fast_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,274},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_mgr_common.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,172},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_bottom_rank_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,212},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_bottom_setting_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,274},{40,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,186}</string>
			</dict>
			<key>ClubUI/club_buy_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,234},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>ClubUI/club_buy_btn_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,234},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>ClubUI/club_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,47}</string>
			</dict>
			<key>ClubUI/club_card_explain_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,209}</string>
			</dict>
			<key>ClubUI/club_card_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,274},{141,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,41}</string>
			</dict>
			<key>ClubUI/club_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>ClubUI/club_dismiss_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_help_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{169,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,313}</string>
			</dict>
			<key>ClubUI/club_join_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,283},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>ClubUI/club_modify_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,163},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_stool.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{56,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,52}</string>
			</dict>
			<key>ClubUI/club_title_center_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,79},{140,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,71}</string>
			</dict>
			<key>ClubUI/club_title_center_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1},{140,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,76}</string>
			</dict>
			<key>ClubUI/club_title_left_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,254},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_title_left_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,101},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_title_right_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,221},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_title_right_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,313},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_dismiss_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,163},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_modified_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,163},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_modify_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,79},{232,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,44}</string>
			</dict>
			<key>ClubUI/club_dismiss_label_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,234},{64,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,28}</string>
			</dict>
			<key>ClubUI/club_modify_label_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,264},{64,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,28}</string>
			</dict>
			<key>ClubUI/club_full_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,308},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>ClubUI/desk_label_printed.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,212},{94,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,26}</string>
			</dict>
			<key>ClubUI/club_bottom_setting_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,212},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>ClubUI/club_return_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,445},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>ClubUI/club_stool_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{98,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ClubUI.png</string>
			<key>realTextureFileName</key>
			<string>ClubUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>