<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Poker/pic_poker_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,217},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,433},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,466},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,466},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,466},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,466},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,621},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,621},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,621},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,649},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,776},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,776},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_backend.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,776},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,776},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,865},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,931},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,931},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,931},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,931},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1081},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1297},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1086},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1291},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1086},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1291},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1086},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1086},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1291},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1297},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1446},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1513},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1446},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1446},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1513},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1601},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1662},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1729},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1878},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1817},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1601},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1601},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_small_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1241},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1291},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1316},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1341},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1366},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1391},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1416},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1441},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1446},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1466},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1471},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1491},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1496},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1513},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1563},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1613},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1663},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1713},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1516},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1521},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1541},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1729},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_small_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1546},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Poker.png</string>
			<key>realTextureFileName</key>
			<string>Poker.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>