<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PSGameRoomUI/break_poker_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,492},{143,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,91}</string>
			</dict>
			<key>PSGameRoomUI/communicate_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,273},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>PSGameRoomUI/communicate_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,293},{102,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,52}</string>
			</dict>
			<key>PSGameRoomUI/give_up_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,96},{193,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,79}</string>
			</dict>
			<key>PSGameRoomUI/GPS_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,273},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>PSGameRoomUI/head_frame_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,476},{96,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,139}</string>
			</dict>
			<key>PSGameRoomUI/head_light_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,96},{107,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,153}</string>
			</dict>
			<key>PSGameRoomUI/hook_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,478},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>PSGameRoomUI/invite_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,178},{278,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,93}</string>
			</dict>
			<key>PSGameRoomUI/npc_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{185,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,203}</string>
			</dict>
			<key>PSGameRoomUI/prepare_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,1},{278,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,93}</string>
			</dict>
			<key>PSGameRoomUI/press_score_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1},{145,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,37}</string>
			</dict>
			<key>PSGameRoomUI/quite_room_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,281},{193,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,79}</string>
			</dict>
			<key>PSGameRoomUI/raise1_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,444},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>PSGameRoomUI/raise2_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,458},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>PSGameRoomUI/raise4_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,385},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>PSGameRoomUI/record_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,356},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>PSGameRoomUI/red_point_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,397},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>PSGameRoomUI/ruler_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,357},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>PSGameRoomUI/score_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,254},{236,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,68}</string>
			</dict>
			<key>PSGameRoomUI/setting_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,356},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>PSGameRoomUI/start_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1},{251,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,93}</string>
			</dict>
			<key>PSGameRoomUI/word_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,148},{34,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,74}</string>
			</dict>
			<key>PSGameRoomUI/dealer_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,439},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>PSGameRoomUI/see_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,291},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>PSGameRoomUI/see_enable_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,465},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>PSGameRoomUI/touch_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{296,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,175}</string>
			</dict>
			<key>PSGameRoomUI/prompt_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,443},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>
			<key>PSGameRoomUI/auto_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,269},{104,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,106}</string>
			</dict>
			<key>PSGameRoomUI/auto_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>
			<key>PSGameRoomUI/ng_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,188},{193,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,79}</string>
			</dict>
			<key>PSGameRoomUI/share_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{278,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,93}</string>
			</dict>
			<key>PSGameRoomUI/give_up_enable_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,205},{193,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,79}</string>
			</dict>
			<key>PSGameRoomUI/close_room_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,205},{193,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,79}</string>
			</dict>
			<key>PSGameRoomUI/club_invite_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,375},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>PSGameRoomUI/raise3_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,439},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>PSGameRoomUI/raise5_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,498},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>PSGameRoomUI/add_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,375},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>PSGameRoomUI/bottom_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,291},{193,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,79}</string>
			</dict>
			<key>PSGameRoomUI/cmp_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,163},{63,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,31}</string>
			</dict>
			<key>PSGameRoomUI/follow_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,224},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>PSGameRoomUI/raise_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,269},{114,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,64}</string>
			</dict>
			<key>PSGameRoomUI/raise6_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,499},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>PSGameRoomUI/raise7_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,440},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>PSGameRoomUI/raise8_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,439},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>PSGameRoomUI/raise9_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,400},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>PSGameRoomUI/disable_add_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,407},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>PSGameRoomUI/disable_cmp_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,228},{63,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,31}</string>
			</dict>
			<key>PSGameRoomUI/disable_follow_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,96},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PSGameRoomUI.png</string>
			<key>realTextureFileName</key>
			<string>PSGameRoomUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>