<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Expression/cheers_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,180},{139,56}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,158},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,588},{148,75}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,621},{148,75}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,738},{136,62}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,451},{135,63}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,771},{127,61}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,945},{127,61}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,731},{105,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,747},{105,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,909},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,845},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,920},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,464},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/boom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,712},{111,112}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,623},{99,121}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,825},{105,110}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,180},{153,152}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1},{177,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{191,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,167},{167,162}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/boom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,331},{167,162}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,188}</string>
			</dict>
			<key>Expression/egg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,640},{89,76}}</string>
				<key>offset</key>
				<string>{3,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,874},{45,80}}</string>
				<key>offset</key>
				<string>{11,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,901},{45,80}}</string>
				<key>offset</key>
				<string>{11,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,829},{43,90}}</string>
				<key>offset</key>
				<string>{12,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,876},{42,98}}</string>
				<key>offset</key>
				<string>{13,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,845},{42,104}}</string>
				<key>offset</key>
				<string>{13,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,900},{45,105}}</string>
				<key>offset</key>
				<string>{14,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,623},{44,109}}</string>
				<key>offset</key>
				<string>{14,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,734},{105,105}}</string>
				<key>offset</key>
				<string>{3,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,591},{154,139}}</string>
				<key>offset</key>
				<string>{1,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,640},{58,67}}</string>
				<key>offset</key>
				<string>{11,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,841},{58,67}}</string>
				<key>offset</key>
				<string>{11,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,845},{53,70}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,845},{53,70}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,900},{46,78}}</string>
				<key>offset</key>
				<string>{11,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,921},{46,78}}</string>
				<key>offset</key>
				<string>{11,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/flower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,932},{72,100}}</string>
				<key>offset</key>
				<string>{3,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1},{164,171}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{146,155}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,180},{146,155}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,328},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,333},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,478},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,495},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1},{23,22}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,25},{23,22}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,830},{99,39}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,951},{72,100}}</string>
				<key>offset</key>
				<string>{3,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,871},{99,39}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,321},{128,59}}</string>
				<key>offset</key>
				<string>{0,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,334},{128,59}}</string>
				<key>offset</key>
				<string>{0,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,717},{128,94}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,813},{128,94}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,334},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,460},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,586},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,724},{104,113}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,487},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,613},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,739},{104,113}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,315},{107,136}}</string>
				<key>offset</key>
				<string>{5,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,453},{107,136}}</string>
				<key>offset</key>
				<string>{5,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1},{177,185}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1},{177,185}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,167},{164,171}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>expression.png</string>
			<key>realTextureFileName</key>
			<string>expression.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>